<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Index">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.php?command={R:1}&amp;id={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>